page-location {

    .bg{
        background-image: url('../../assets/imgs/images.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
     }

     .container{
        text-align: center;
        color:white;
        opacity: 0.7;
        align-content: center;
    }

}
