page-home {

    .bg{
        background-image: url('../../assets/imgs/images.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
     }

     .container{
         text-align: center;
         color:white;
     }

}
